/* Combo */
.i-combo .x-form-text {padding: 0;}
.i-combo {width: 100%; position: relative; border: none;}
.i-combo .i-combo-multiple.i-combo-multiple-inlined > div {width: 1000%;}
.i-combo .i-combo-multiple {height: auto;}
.i-combo .i-combo-multiple.i-combo-multiple-inlined {overflow: hidden;}

/* Combo keyword */
.i-combo .i-combo-keyword {border: 0; width: 100% !important; padding-left: 1px; background: transparent;}
.x-panel .i-combo .i-combo-keyword{border: 0; background: transparent;}

/* Combo options data */
.x-boundlist {
    --option-height: 14px;
}
.x-boundlist-item {
    border-right: 0;
    border-left: 0;
    border-top: 0;
    cursor: default;
    word-break: break-all;
    vertical-align: top;
    overflow: hidden;
    height: var(--option-height);
}
.x-boundlist-item .i-color-box[style*="background: url"] {
    vertical-align: text-bottom;
}
.x-boundlist-item .i-combo-color-box {display: inline-block;}
.x-boundlist-item:last-child {
    border-bottom-color: transparent;
}
.x-boundlist-item[timeId] {
    display: inline-block;
}
.x-boundlist-item-over[timeId] {
    outline: 1px solid #45d1d2;
    background: #45d1d2;
    color: white;
    border-bottom: 1px solid #45d1d2;
    cursor: pointer;
}
.x-boundlist-item-group *{
    color: inherit;
}
.x-boundlist-item-disabled, .x-boundlist-item-disabled * {
    color: #cccccc;
}
.x-boundlist-item-group, .x-boundlist-item-group.x-boundlist-item-disabled {
    font-style: italic;
    /*font-weight: bold;*/
}

/* Combo multiple selected items*/
.x-form-readonly .i-combo .i-combo-multiple .i-combo-selected-item {
    cursor: default;
}
.i-combo .i-combo-multiple .i-combo-selected-item {
    white-space: nowrap; display: inline-block; float: left;
    margin-left: 1px; margin-top: 1px; font-size: 11px; line-height: 15px;
}

/* Combo info */
.i-combo .i-combo-infoCell {width: 1px; padding-right: 0;}
.i-combo .i-combo-info tr {vertical-align: middle;}
.i-combo .i-combo-info {display: none; white-space: nowrap; height: 100%; border-collapse: collapse;border-spacing: 0;}

.i-combo .i-combo-info.i-combo-info-loading {display: inline-block;}
.i-combo .i-combo-info.i-combo-info-loading .i-combo-info-loadingCell {display: table-cell;}
.i-combo .i-combo-info.i-combo-info-loading .i-combo-info-countCell {display: none;}
.i-combo .i-combo-info.i-combo-info-loading .i-combo-info-ofCell {display: none;}
.i-combo .i-combo-info.i-combo-info-loading .i-combo-info-foundCell {display: none;}

.i-combo .i-combo-info.i-combo-info-expanded {display: inline-block;}
.i-combo .i-combo-info.i-combo-info-expanded .i-combo-info-loadingCell {display: none;}
.i-combo .i-combo-info.i-combo-info-expanded .i-combo-info-countCell {display: table-cell;}
.i-combo .i-combo-info.i-combo-info-expanded .i-combo-info-ofCell {display: table-cell;padding-right: 0; padding-left: 0;}
.i-combo .i-combo-info.i-combo-info-expanded .i-combo-info-foundCell {display: table-cell;}

.i-combo .i-combo-info.i-combo-info-expanded.i-combo-info-loading {display: table-cell;}
.i-combo .i-combo-info.i-combo-info-expanded.i-combo-info-loading .i-combo-info-loadingCell {display: table-cell;}
.i-combo .i-combo-info.i-combo-info-expanded.i-combo-info-loading .i-combo-info-countCell {display: none;}
.i-combo .i-combo-info.i-combo-info-expanded.i-combo-info-loading .i-combo-info-ofCell {display: table-cell;}
.i-combo .i-combo-info.i-combo-info-expanded.i-combo-info-loading .i-combo-info-foundCell {display: table-cell;}

.i-combo .i-combo-info.i-combo-info-expanded.i-combo-info-fetched-all .i-combo-info-loadingCell {display: none;}
.i-combo .i-combo-info.i-combo-info-expanded.i-combo-info-fetched-all .i-combo-info-countCell {display: none;}
.i-combo .i-combo-info.i-combo-info-expanded.i-combo-info-fetched-all .i-combo-info-ofCell {display: none;}
.i-combo .i-combo-info.i-combo-info-expanded.i-combo-info-fetched-all .i-combo-info-foundCell {display: table-cell;padding-right: 0;}
.i-combo .i-combo-multiple .i-combo-info.i-combo-info-expanded.i-combo-info-fetched-all .i-combo-info-foundCell {display: table-cell;}


/* Combo table */
.i-combo .i-combo-table {border-spacing: 0;}
.i-combo .i-combo-single .i-combo-table {width: 100%; height: 100%;}
.i-combo.i-combo-form .i-combo-multiple .i-combo-table-wrapper {float: left;}

/* Combo color box */
.i-combo .i-combo-single .i-combo-color-box-cell {width: 1px; padding: 0; display: none;}
.i-combo .i-combo-multiple .i-combo-color-box-cell .i-combo-color-box-div{width: 0; display: none;}
.i-combo .i-combo-color-box {display: inline-block;}
.i-combo .i-combo-single .i-combo-color-box-cell .i-combo-color-box{margin: 0 0 0 3px;}

/* Combo multiple selected items*/
.x-form-readonly .i-combo .i-combo-multiple .i-combo-selected-item .i-combo-selected-item-delete {
    width: 0;
}
.i-combo .i-combo-multiple .i-combo-selected-item .i-combo-selected-item-delete {
    background-repeat: no-repeat; background-position: 0 0; width: 8px; height: 8px; display: inline-block;
    cursor: pointer; vertical-align: initial;
    margin-left: 2px; background-image: url(../images/icons/combo-multiple-selected-item-delete.png);
}
.i-combo.i-combo-jump .i-combo-multiple .i-combo-selected-item {
    cursor: pointer;
}

/* Disabled styling*/
.i-combo .i-combo-keyword[disabled] {background: inherit;}
.x-item-disabled .i-combo .i-combo-multiple .i-combo-selected-item .i-combo-selected-item-delete {
    cursor: default;
}
.x-toolbar .x-item-disabled .i-combo .x-form-text {
    filter: alpha(opacity=50);
    opacity: .5;
}
.x-gecko .i-combo-table td > .i-combo-color-box-div {
    top: 0;
}

/* Field */
.i-field > * {
    padding: 1px 0 !important;
}
.i-field.i-print-iframe > iframe {
    display: block;
    padding: 0 !important;
}
.x-form-layout-wrap {
    border-spacing: 0;
}
[id^="desktopwindow-"] .i-field > .x-form-item-label,
[id^="desktopwindow-"] .i-field > .x-form-item-body,
[id^="desktopwindow-"] .i-field.i-field-wide > .x-form-item-label-top > .x-form-item-label-inner {
    border-top: 1px solid #C7D4FF;
}
[id^="desktopwindow-"] .i-field.i-field-wide > .x-form-item-label-top + .x-form-item-body {
    border-top: 0;
}
.i-field > .x-form-item-label {
    vertical-align: middle;
}
.i-field .x-form-item-label-text {
    position: relative;
    top: 1px;
}
.x-form-layout-auto-label > * > .x-form-item-label,
.x-form-form-item > .x-form-item-body {
    width: 50% !important;
}
.i-field-filepanel .x-form-item-body {
    background: transparent;
}
.x-form-item-body {
    background: white;
}

/* Span */
.i-field-span > * {
    background-color: #efefef;
    background-color: #DDFFE0;
    border: 1px solid #d0d0d0;
    border-bottom-width: 0;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    border-top-width: 0 !important;
}
.i-field-span.x-item-disabled > * {
    background-color: #afffb6;
}
.i-field-span > .x-form-item-body,
.i-field-span + .i-field > .x-form-item-body,
.i-field-span + .i-field > .x-form-item-label {
    border-top: 1px solid #d0d0d0;
    border-top: 1px solid #C7D4FF;
}
.i-field-span + .i-field.x-item-disabled .x-form-item-body,
.i-field-span + .i-field.x-item-disabled .x-form-item-label {
    border-color: #a7a7a7;
    border-color: #ccd4fb;
}

.i-field-span {
    text-align: center;
}
.i-field-span.x-form-form-item.x-form-item-no-label:before {
    display: none;
}
.i-field-span.x-form-form-item > .x-form-item-body {
    width: 100% !important;
    display: block;
}
[role="form"] .i-field.i-field-span .x-form-display-field-body .x-form-display-field {
    color: black;
    outline: 1px solid #c7d4ff;
}
[role="form"] .i-field.i-field-span:first-child .x-form-display-field-body .x-form-display-field {
    font-size: 12px;

}
[role="form"] .i-field.i-field-span .x-form-display-field-body .x-form-display-field span {
    padding-top: 1px;
    padding-bottom: 2px;
    display: inline-block;
}
.x-form-item-label-default.x-form-item-label-top > .x-form-item-label-inner {
    padding-bottom: 3px !important;
}

/* Disabled fields */
.i-field.x-item-disabled .x-form-item-body,
.i-field.x-item-disabled .x-form-item-label {
    border-color: #829bf1;
}

/* Filter toolbar */
.x-fieldset-header-default {
    padding: 0 5px;
    position: relative;
    top: -1px;
}
.x-fieldset-header-default > .x-fieldset-header-text {
    font: 400 11px/11px tahoma, arial, verdana, sans-serif;
    padding: 0 0;
}


/*.x-menu-item-text-default, .x-menu-item-link {
    line-height: 13px;
}*/
.x-grid-item-container > table:first-child {
    border-top-width: 0;
}
.x-grid-item-container > table:first-child [class*="x-grid-row"]:first-child td {
    border-top-width: 0;
}
.x-grid-row-summary-item {
    width: auto !important;
}

.i-grid-row-disabled {
    opacity: 0.4;
    color: #6f6f6f;
}

/* Cell editors */
.i-grid-cell-editor-focus {
    border: 1px dotted blue !important;
}
.i-grid-cell-editor-focus.i-overflow {
    border: 0 !important;
}
.i-grid-cell-editor-focus .x-grid-cell-inner {
    min-height: 19px;
}
.i-grid-cell-editor-focus.i-grid-column-align-left .x-grid-cell-inner {
    right: 1px;
    position: relative;
}
.i-grid-cell-editor-focus.i-grid-column-align-right .x-grid-cell-inner {
    right: -1px;
    position: relative;
}
.i-grid-cell-editor-focus .x-grid-cell-inner {
    padding-top: 1px;
    padding-bottom: 2px;
}
.x-grid-editor .x-form-text {
    padding-left: 2px;
    padding-right: 2px;
}
.i-grid-cell-editor-focus.i-overflow .x-grid-cell-inner {
    padding-top: 2px;
    padding-bottom: 3px;
}
.x-grid-editor .i-combo .x-form-text {
    padding-left: 0;
    padding-right: 0;
}
.x-grid-editor .i-combo-single.x-form-text {
    padding-right: 1px;
}
.x-keyboard-mode .x-mask.x-focus {
    border: none;
}
.x-form-item-label-default {
    vertical-align: text-top;
    line-height: 16px;
}
.x-form-text-default.x-form-textarea {
    line-height: 13px;
    padding-top: 2px;
}

/*.x-window {
    outline: rgb(49, 173, 229) solid 1px;
}
.x-window.x-window-maximized {
    outline: none;
}*/
[role="tabpanel"] > [data-ref="bodyWrap"] > [data-ref="body"] > .x-panel > [data-ref="bodyWrap"] > .x-toolbar[aria-hidden="false"].x-poppable,
[data-ref="bodyWrap"] > .x-toolbar[aria-hidden="true"] + .x-toolbar,
[data-ref="bodyWrap"] > .x-toolbar[aria-hidden="true"] + [data-ref="body"] {
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
}
[data-ref="bodyWrap"] > .x-toolbar[aria-hidden="false"] + .x-toolbar[aria-hidden="true"] + .x-toolbar {
    border-top-width: 1px !important;
}
[data-ref="bodyWrap"] > .x-toolbar[aria-hidden="false"] + .x-toolbar[aria-hidden="false"] {
    border-top-width: 0 !important;
}
.i-icon-btn.x-btn-disabled.x-btn-default-toolbar-small {
    background: transparent;
}
.i-icon-btn {
    border-color: transparent;
    background-color: transparent;
    padding: 2px;
    margin: 0 2px;
}

[id^="desktopwindow-"] .x-window-header-title-default > .x-title-text-default {
    display: none !important;
}
/* Window */
.x-window-header-title-default {
    font-size: 11px;
    padding-left: 5px;
    line-height: 13px;
}
[id^="desktopwindow-"] .x-window-header-title-default {
    padding-left: 0;
}

/*.x-shrinkbar[id$="--nested"] .x-btn {
    background: #3897c1;
}
.x-shrinkbar[id$="--nested"] .x-btn .x-btn-inner {
    color: white;
}*/
.x-btn-inner-nested-small {
    text-overflow: initial;
}
.x-column-header {
    line-height: 14px;
}
.x-grid-with-row-lines .x-grid-item:last-child {
    border-bottom-width: 0;
}

.i-trail-item-section.x-btn-trailbutton-small .x-btn-inner:before,
.i-trail-item-action.x-btn-trailbutton-small .x-btn-inner:before,
.i-trail-item-row-title.x-btn-trailbutton-small .x-btn-inner:before {
    content: '\000BB\00A0';
    font-style: normal;
    width: 10px;
    display: inline-block;
}
/*.x-btn-trailbutton-small:before {
    content: '\000BB\00A0';
    color: white;
    position: absolute;
    z-index: 1000000000000;
    left: -3px;
    overflow: visible;
    top: 4px;
    font-size: 12px;
    background: #7d8ea7;
    width: 8px;
    line-height: 7px;
    height: 8px;
}
.x-btn-trailbutton-small:after {
    text-align: center;
    content: '\000BB\00A0';
    color: white;
    font-size: 12px;
    position: absolute;
    z-index: 1000000000000;
    right: -8px;
    overflow: visible;
    top: 4px;
    margin-left: 5px;
    background: #7d8ea7;
    height: 8px;
    line-height: 7px;
}
.i-trail-section-group.x-btn-trailbutton-small:before,
.i-trail-item-last.x-btn-trailbutton-small:after{
    content: '';
}*/

.x-toolbar-wbar .x-btn-inner {
    text-overflow: initial;
}
.x-form-item-body-default {
    min-height: unset;
}
.i-master--id .x-form-text-default {
    min-height: 16px;
}
.x-toolbar-default .x-toolbar-item {
    margin-right: 4px;
}
[id$="inner--sibling"] .i-combo-keyword {
    padding-bottom: 0;
    position: relative;
    top: -1px;
}
[id$="inner--save"] .x-btn-inner {
    padding-left: 0;
}
[id$="inner--offset"] .x-form-text {
    min-height: unset;
    padding-top: 1px;
}
.x-anchor-form-item {
    margin-bottom: 0;
}
[id^="desktopwindow-"] .i-field {
    width: 100% !important;
}
.i-field .x-form-cb-label-default {
    margin-top: 0;
    line-height: 13px;
    display: block;
    padding-top: 1px;
}
.i-field .x-form-cb-label-default.x-form-cb-label-after {
    padding-left: 17px;
}
.i-field .x-form-cb-label-default.x-form-cb-label-after.x-form-cb-no-box-label {
    position: absolute;
    margin-left: -1px;
    height: 15px;
    padding-left: 15px;
}
.i-field .x-form-cb-default {
    margin-top: 0;
}
.i-field > .x-form-cb-wrap-default {
    padding-top: 3px !important;
}
.i-field .x-form-cb-wrap-default {
    height: unset;
}

/* Number field */
.i-field.i-field-number .x-form-trigger-wrap{
    width: 100px !important;
}
.i-field.i-field-number.x-form-readonly .x-form-trigger-wrap{
    width: 84px !important;
}
.i-field .i-field-number-after {
    position: absolute; margin-top: -19px; margin-left: 104px; font-size: 11px;
}
.i-field.i-field-number.x-form-readonly .i-field-number-after {
    margin-left: 87px;
}

/* Date and Datetime fields */
.i-field.i-field-date .x-form-trigger-wrap{
    width: 79px !important;
}
.i-field.i-field-date.x-form-readonly .x-form-trigger-wrap{
    width: 63px !important;
}
.i-field.i-field-datetime .x-form-trigger-wrap{
    width: 127px !important;
}
.i-field.i-field-datetime.x-form-readonly .x-form-trigger-wrap{
    width: 110px !important;
}

/* Filepanel */
.i-field-filepanel .x-form-cb-wrap {
    padding-top: 0;
    top: -1px;
}
.i-field-filepanel .x-form-type-text + .x-form-type-text {
    top: 1px !important;
}
.i-field-filepanel .x-form-type-radio,
.i-field-filepanel .x-form-type-checkbox {
    top: 3px !important;
}
.i-field-filepanel .x-btn-inner-default-small,
.i-field-filepanel a,
.i-field-filepanel .x-form-display-field-default {
    padding: 0;
    color: #04408C;
    color: black;
}
.i-field-filepanel .x-form-file-btn {
    background: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;
}

/** CKEditor */
.cke .cke_toolgroup {
    border-color: #d0d0d0 !important;
    background: white !important;
}
.cke_reset {
    border: 0 !important;
}
.cke .cke_top, .cke .cke_bottom {
    background: #efefef !important;
}
.cke .cke_top {
    border-bottom-color: #d0d0d0 !important;
}
.cke .cke_bottom {
    border-top-color: #d0d0d0 !important;
}
.cke .cke_combo_button {
    background: white !important;
    /*border-radius: 0;              */
    border-color: #d0d0d0 !important;
}
.cke .cke_button_on {
    background: #a6e1fb;
    box-shadow: none !important;
}
.cke_combo_off a.cke_combo_button:active, .cke_combo_on a.cke_combo_button {
    box-shadow: none !important;
    background: #e2ecfb !important;
}
.cke_top.cke_reset_all *, .cke_dialog *, .cke_panel, .cke_panel * {
    border-radius: 0 !important;
}
.cke_dialog * {
    background-image: none !important;
    box-shadow: none !important;
}
.cke a.cke_button_off:hover, .cke a.cke_button_off:focus, .cke a.cke_button_off:active {
    background: #e4e4e4 !important;
}
a.cke_button_off:hover, a.cke_button_off:focus, a.cke_button_off:active, a.cke_button_disabled:hover, a.cke_button_disabled:focus, a.cke_button_disabled:active {
    background: #f6f6f6 !important;
}
.x-form-item-label-default.x-form-item-label-top > .x-form-item-label-inner {
    text-align: center;
}

/* Radios */
.i-radio-color-box {
    width: 14px;
    height: 10px;
    display: inline-block;
    position: relative;
    margin-right: 2px;
    top: 1px;
}
.i-radio-color-box[style*="background: url("] {
    height: 13px;
    top: 2px;
    margin-top: -2px;
    background-size: contain !important;
    background-repeat: no-repeat !important;
}

/* Menu items*/
.x-menu-item-text-default {
    line-height: 30px;
}
.i-trail-item-menu .x-menu-item-link,
.i-trail-item-menu .x-menu-item-text-default,
.i-window-header-menu .x-menu-item-link,
.i-window-header-menu .x-menu-item-text-default {
    line-height: 13px;
}
.i-trail-item-menu .x-menu-item-text-default {
    margin-left: 5px;
    color: white;
}
.i-trail-item-menu .x-menu-body-default {
    /*background: #7d8ea7;*/
    background: #5e6b7d;
}
.i-trail-item-menu {
    border-width: 0;
}
.i-trail-item-menu .x-menu-item-default.x-menu-item-focus,
.i-trail-item-menu .x-menu-item-default.x-menu-item-active {
    background-color: #73839a;
}
.i-trail-item-menu .x-menu-item-arrow-default {
    width: 8px;
    height: 8px;
    top: 4px;
}

/* Field's lbar */
.x-form-item-label .x-toolbar .x-btn-inner {
    padding: 0 1px;
    text-overflow: unset;
}

/* Tips */
.x-tip {
    line-height: 13px;
    max-width: 300px;
}
.x-tip-body-default {
    padding: 5px 7px 6px;
}
/*[data-ref="labelTextEl"][data-qtip] {
    border-bottom: 1px dotted;
}*/

/* Error tips */
.x-tip-body-form-invalid {
    padding: 2px 5px 1px 17px;
}
.x-tip-form-invalid {
    background-color: #d94e37;
}

.x-grid-cell-inner {
    min-height: 21px;
}
.x-grid-cell-inner > img {
    padding-top: 3px !important;
}
.i-header-icon .x-grid-cell-inner {
    text-overflow: unset;
}
/* Datepicker */
.x-datepicker-column-header-inner {
    color: white;
    background: #35baf6; /* $base-color */
}
.x-datepicker {
    border: none;
}
.x-datepicker-inner tbody tr td:first-child {
    border-left: 1px solid #35baf6; /* $base-color */
}
.x-datepicker-inner tbody tr td:last-child {
    border-right: 1px solid #35baf6; /* $base-color */
}
.x-monthpicker {
    border-width: 0;
}
.x-monthpicker-months {
    border-width: 1px 1px 0 1px;
    border-color: #35baf6;
}
.x-monthpicker-years {
    border-top: 1px solid #35baf6;
    border-right: 1px solid #35baf6;
}
.x-datepicker-footer .i-field-time .x-form-trigger-wrap {
    border-width: 0 0 0 1px;
}
.x-datepicker-footer .i-field-time:first-of-type .x-form-trigger-wrap {
    border-left-width: 0;
}

/* Shadow */
.x-css-shadow {
    border-radius: 0;
}

/* Window resizable handles style */
.x-window-resizable .x-window-handle {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    opacity: 1;
    background: transparent;
    border-color: #31ade5;
    border-style: solid;
    border-width: 0;
}
.x-window-resizable.x-window-maximized .x-window-handle {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    background: initial;
    display: none;
}
.x-window-resizable .x-window-handle-north {
    border-top-width: 1px;
}
.x-window-resizable .x-resizable-handle-east {
    border-right-width: 1px;
}
.x-window-resizable .x-resizable-handle-west {
    border-left-width: 1px;
}
.x-window-resizable .x-resizable-handle-south {
    border-bottom-width: 1px;
}
.x-resizable-handle-southeast {
    border-right-width: 1px !important;
    border-bottom-width: 1px !important;
}
.x-resizable-handle-southwest {
    border-left-width: 1px !important;
    border-bottom-width: 1px !important;
}
.x-resizable-handle-northwest {
    border-left-width: 1px !important;
    border-top-width: 1px !important;
}
.x-resizable-handle-northeast {
    border-right-width: 1px !important;
    border-top-width: 1px !important;
}
.i-filterwin, .i-filterwin.x-window-resizable .x-window-handle {
    border: 0 !important;
}
.i-field-ckeditor .x-form-trigger-wrap .cke {
    box-shadow: none;
}
.i-field-ckeditor.i-field-wide .x-form-trigger-wrap {
    border: 0;
}
.i-field-ckeditor.i-field-wide .x-form-trigger-wrap .cke {
    margin: 0 auto;
    border: 1px solid #d0d0d0 !important;
    width: inherit !important;
}

.i-filepanel-raquo {
    margin-top: -2px !important;
}
.i-combo-table-wrapper[style*="width: calc"] > .i-combo-table {
    width: 100%;
}

.x-grid-cell-inner a img {
    display: block;
}
tr[data-boundview] + tr.x-grid-row .i-overflow {
    top: 23px;
}
/* Combo */
.i-combo .x-form-text {font-size: 11px;}
.i-combo {line-height: 15px;}
/*.x-form-trigger-wrap-focus .i-combo .x-form-text {border: 1px solid #99BCE8;}*/
.i-combo .i-combo-multiple {padding-bottom: 1px;}
.i-combo .i-combo-multiple.i-combo-multiple-inlined {height: 17px;}

/* Combo keyword */
.i-combo .i-combo-keyword {height: 15px; font: inherit;}
.i-combo.i-combo-form .i-combo-keyword {height: 15px;}
.i-combo .i-combo-multiple .i-combo-keyword {}
.x-panel .i-combo .i-combo-multiple .i-combo-keyword {padding-left: 1px;}

/* Combo options data */
.x-panel.x-boundlist{
    border-color: #35baf6;
}
.x-boundlist ul {
    padding: 0;
    margin: 0;
}
.x-boundlist-item {
    /*border-bottom: 1px solid #e0eeff;*/
    padding: 0 2px 0 2px;
    line-height: 13px;
    /* font-size: 11px; */
}
.x-boundlist-item-over{
}
.x-boundlist-item .i-combo-color-box {width: 14px; height: 9px;}
.x-grid-cell-inner .i-color-box[style*="background: url"] {
    background-size: contain !important;
    background-repeat: no-repeat !important;
    margin-left: 1px !important;
}
.x-boundlist-item .i-combo-color-box[style*="background: url"] {
    width: 15px;
    height: 15px;
    vertical-align: top;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    position: relative;
    top: -1px;
    margin-left: -1px;
}

.x-boundlist-item-group, .x-boundlist-item-group.x-boundlist-item-disabled {
    background-color: #2582ac;
    color: #ffffff;
    border-bottom: 1px solid #2582ac;
}

/* Combo table */
.i-combo .i-combo-multiple .i-combo-table {margin-bottom: -3px;}
.i-combo.i-combo-form .i-combo-multiple .i-combo-table-wrapper {height: 17px; margin-bottom: -1px; width: 1px;}

/* Combo info */
.i-combo .i-combo-info {font-size: 10px;}
.i-combo .i-combo-info-div {height: 15px; padding-right: 0;}
.i-combo .i-combo-info td {height: 16px; padding-top: 0;}
.i-combo .i-combo-info .i-combo-info-countCell{padding-right: 1px;}
.i-combo .i-combo-info .i-combo-info-loadingCell{padding-right: 3px;}
.i-combo .i-combo-info .i-combo-info-loadingCell img {width: 15px; vertical-align: middle;}
.i-combo .i-combo-info .i-combo-found {padding-right: 0; padding-left: 0; margin-right: 1px;}
.i-sibling .i-combo .i-combo-info-div {margin-top: -3px;}
.i-combo .i-combo-info.i-combo-info-expanded {margin-right: 1px;}

.i-combo .i-combo-info.i-combo-info-expanded.i-combo-info-fetched-all .i-combo-found {
    padding-bottom: 1px;
    background-color: #288cb9;
    padding-right: 2px;
    padding-left: 2px;
    color: white;
    margin-right: 0;
}

/* Combo color box */
.i-combo .i-combo-color-box {width: 14px; height: 9px;}
.i-combo .i-combo-color-box[style*="background: url"] {width: 16px; height: 15px; margin-bottom: -3px !important; background-size: contain !important; background-repeat: no-repeat !important;}

/* Combo multiple selected items*/
.i-combo .i-combo-multiple .i-combo-selected-item {
    background-color: #e5edff; padding: 0 2px 0 2px;
}
.i-combo .i-combo-multiple .i-combo-selected-item .i-combo-selected-item-delete {
}
.x-panel .i-combo .i-combo-multiple .i-combo-selected-item,
.i-combo.i-combo-filter .i-combo-multiple .i-combo-selected-item {
    border-top: 0; border-left: 0; margin-top: 1px; margin-left: 1px;
}

/* Combo trigger */
.x-form-trigger-default {
    background-position-x: -2px;
    background-position-y: -3px;
    border: none;
}
.x-form-trigger-default.x-form-trigger-over {
    /*background-position-x: -18px; (4 * 1 + 2)*/
    background-position-x: -24px;
    background-position-y: -3px;
    border: none;
}
.x-form-trigger-default.x-form-trigger-over.x-form-trigger-focus {
    /*background-position-x: -72px; (4 * 4 + 2)*/
    background-position-x: -90px;
    background-position-y: -3px;
    border: none;
}
.x-form-trigger-default.x-form-trigger-focus {
    /*background-position-x: -54px; (4 * 3 + 2)*/
    background-position-x: -68px;
    background-position-y: -3px;
    border: none;
}
.x-form-trigger.x-form-trigger-default.x-form-trigger-click {
    /*background-position-x: -36px; (4 * 2 + 2)*/
    background-position-x: -46px;
    background-position-y: -3px;
    border: none;
}

/* Error styling*/
.x-form-invalid .i-combo .x-form-text {
    /*background-color: white;
    background-image: url('../../resources/themes/images/default/grid/invalid_line.gif');
    background-repeat: repeat-x;
    background-position: bottom;
    border-color: #c30;*/
}

/* Disabled styling */
.x-toolbar .x-item-disabled .i-combo .x-form-text {
    /*border: 1px solid #b5b8c8 !important;
    background: url('../../resources/themes/images/default/form/text-bg.gif');*/
}
.x-form-item-default.x-item-disabled {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    opacity: 0.5;
}

/* Dirty icon */
.i-field.x-form-dirty {
    background-image: url(../images/icons/dirty-orange.gif);
    background-position: 0 1px;
    background-repeat: no-repeat;
}

/* Tab */
.x-tab.x-tab-default {
    background-color: rgba(0, 0, 0, 0.16);
}

/* Styles for wrapper-panel placeholders */
.i-panelholder {
    height: auto !important;
    text-align: center;
}
.i-panelholder .x-panel-body {
    width: auto !important;
    height: auto !important;
    display: inline-block;
    background-color: transparent;
    border: none;
    color: #04408C;
    text-shadow: 1px 1px 1px white;
}
.i-panelholder .x-panel-body hr {
    box-shadow: 1px 1px 1px white;
}
.i-panelholder .x-panel-body ul {
    display: block;
    text-align: left;
    padding-left: 0;
    margin: 0;
}
.i-panelholder .x-panel-body ul li {
    list-style-type: square;
    list-style-position: inside;
}
.i-panelholder .x-panel-body ul li a {
    cursor: pointer;
    text-decoration: underline;
}
.i-panelholder .x-autocontainer-innerCt > div {
    margin: 0 auto;
    width: fit-content;
    font-size: 12px;
}

/* Grid */
.x-grid-cell-inner-row-numberer {
    text-overflow: inherit;
}
.i-grid-column-span-right {
    border-right-style: dashed;
}
.i-grid-column-multiline .x-column-header-inner {
    text-align: center;
}
.i-link {
    cursor: pointer; border-bottom: 1px dashed; text-decoration: none; display: inline-block;
}

/* Check column */
.x-grid-hd-checker-on .x-column-header-checkbox:after, .x-grid-checkcolumn-checked:after {
    background-position: 0 -15px;
}
.x-column-header-checkbox .x-column-header-checkbox:after, .x-grid-checkcolumn:after {
    content: " ";
    margin-top: 2px;
    width: 15px;
    height: 15px;
}

/* Toolbars */
.x-toolbar.x-poppable[aria-hidden="false"] + .x-toolbar.x-poppable[aria-hidden="false"] {
    border-top-width: 1px !important;
}

/* Fieldset */
.x-fieldset {
    border-top: 1px solid #d0d0d0 !important;
}

.i-grid-column-multiline.x-group-sub-header .x-column-header-inner {
    padding-left: 3px;
}

/* Window */
.i-transparent {opacity: 0}

.x-btn-wrap-default-small.x-btn-split-right > .x-btn-button:after {
    border-right: 0;
}

#i-notice-div {
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1000000;
    position: absolute;
    display: block;
    bottom: 10px;
    line-height: normal;
    font-size: 12px;
    max-height: 200px;
}
.i-notice, .i-notice-hideall {
    margin: 2px 2px 0 10px;
    max-width: 300px;
    width: 300px;
    background: #008dbcb3;
    outline: none;
    color: white;
    padding: 4px;
}
.i-notice p {
    color: inherit;
    margin: initial;
}
.i-notice a[jump] {
    /*color: #009fff;*/
    cursor: pointer;
    text-decoration: underline;
}
.i-notice .i-notice-close {
    cursor: pointer;
    float: right;
    padding: 4px;
    margin: -4px -4px 0 0;
}
.i-notice h1 {
    color: inherit;
    margin-left: -1px;
    padding: 0;
    margin-bottom: 3px;
    font-size: inherit;
    margin-top: 0;
}
.mobile-menu {
    overflow: visible;
}
.mobile-menu .x-menu-body {
    overflow: visible;
}
.mobile-menu .x-menu-body > .x-box-inner {
    overflow: visible !important;
}
.mobile-menu .x-menu-body > .x-box-inner .x-treelist-nav {
    box-shadow: rgb(136, 136, 136) 0px 0px 6px;
}
#i-center-center {
    height: calc(100% - 54px) !important;
}
#i-menu .menu-qty, #i-mobile-menu .menu-qty {
    font-weight: bold;
    font-weight: bold;
    margin-left: 2px;
    background: #d9e5f3;
    color: #044099;
    padding: 0 4px 1px 4px;
}
#i-menu img + .menu-qty, #i-mobile-menu img + .menu-qty {
    margin-left: 5px;
}
.menu-qty-wrap {
    text-align: right;
}
.menu-qty-wrap, .menu-qty-anim-wrap, .menu-qty-anim, .menu-qty-anim_large,
.menu-qty-anim_small, .menu-qty-anim_large_c, .menu-qty-anim_small_c {
    color: inherit;
}
.menu-qty-inbl {
    display: -moz-inline-stack;
    display: inline-block;
    _overflow: hidden;
    vertical-align: top;
    zoom: 1;
}

.menu-qty-anim-wrap {
    position: relative;
    height: 15px;
    vertical-align: top !important;
    line-height: 16px;
    overflow: hidden;
}
.menu-qty-anim-wrap-css3 .menu-qty-anim {
    -o-transition: margin-top 300ms ease-out;
    transition: margin-top 300ms ease-out
}
.i-infotb .x-toolbar-text {
    padding: 0;
    top: 0 !important;
}
.i-infotb {
    border-width: 0;
}
.i-infotb-inner {
    transition: text-indent 4s ease 0s;
    display: block;
    /*text-overflow: ellipsis;*/
    white-space: nowrap;
    overflow: hidden;
    text-indent: 0;
}
.i-infotb-inner:hover {
    transition: text-indent 4s ease 0ms;
}
.i-field.x-item-disabled, .i-field.x-item-disabled * {
    pointer-events: unset;
}
.x-form-display-field-body .x-form-display-field {
    overflow-wrap: unset;
    word-wrap: unset;
    -ms-word-break: unset;
    /* This is dangerous in WebKit as it breaks things at random points */
    word-break: unset;
    /* Use this non-standard instead */
    word-break: unset;
}

.i-tilepanel-body {
    background: white;
    border-bottom: 1px solid #d0d0d0 !important;
}
.i-tilepanel .thumb-wrap {
    box-sizing: content-box;
}
.i-tilepanel .thumb-wrap {
    width: calc(var(--tileview-size) - -6px);
}
.i-tilepanel .thumb-wrap > .thumb > img {
    width: var(--tileview-size);
    height: calc(var(--tileview-size) / var(--tileview-ratio));
}
.i-tilepanel .thumb {
    background: #dddddd;
    padding: 3px;
    position: relative;
    width: 100%;
}
.i-tilepanel .thumb a[data-fslightbox-holder] {
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    display: none;
}
.i-tilepanel .x-item-selected .thumb a[data-fslightbox-holder] {
    display: block;
    cursor: pointer;
}
.i-tilepanel .thumb-image{
    background: #008dbc;
}
.i-tilepanel .thumb-nofile{

}
.i-tilepanel .thumb-nofile > img {
    background: #ffffff;
}

.i-tilepanel .thumb > img{
    display: block;
    background: white;
}
.i-tilepanel .thumb .thumb-holder{
    font-size: 20px;
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    text-align: center;
    display: table;
    left: 0;
}
.i-tilepanel .thumb .thumb-holder > div {
    vertical-align: middle;
    display: table-cell;
    color: #d1d1d1;
}
.i-tilepanel .thumb-wrap{
    float: left;
    margin: 5px;
    margin-right: 0;
    margin-bottom: 0;
    padding: 4px;
    border: 1px solid transparent;
}
.i-tilepanel .thumb-wrap .thumb-bottom-lines > span {
    text-overflow: ellipsis;
    max-height: 20px;
    transition: text-indent 4s ease 0s;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    height: 20px;
    text-align: center;
}
.i-tilepanel .thumb-wrap .thumb-nofile span.x-editable {
    color: black;
}
.i-tilepanel .x-item-over{
    border:1px solid #dddddd;
    background: #efefef;
}

.i-tilepanel .x-item-selected{
    background: #EFF4FB;
    border: 1px solid #99bbe8;
    background: #dfffdf;
    border: 1px solid #e1f3e1;
    padding: 4px;
}
.i-tilepanel .x-item-selected .thumb{
    /*background:transparent;*/
}
.i-tilepanel .thumb-wrap span.i-color-box {
    width: 14px;
    margin-left: 6px;
    margin-right: 0;
}
.i-tilepanel .thumb-wrap .thumb-nofile .thumb-panel-top-right span.i-color-box {
    margin-left: 0;
}
.i-tilepanel .thumb-wrap .thumb-panel {
    position: absolute;
    background: rgba(135, 135, 135, 0.4);
    color: white;
    padding: 0 6px 0;
}
.i-tilepanel .thumb-wrap .thumb-panel.thumb-panel-top-right {
    right: 3px;
    top: 3px;
}
.i-tilepanel .thumb-wrap .thumb-panel-id {
    left: 3px;
    bottom: 3px;
    display: none;
}
.i-tilepanel .i-showID .thumb-wrap .thumb-panel-id {
    display: block;
}
.i-tilepanel .thumb-wrap .thumb-panel-rn {
    right: 3px;
    bottom: 3px;
    display: none;
}
.i-tilepanel .i-showRN .thumb-wrap .thumb-panel-rn {
    display: block;
}
.i-tilepanel .thumb-wrap .thumb-panel a {
    color: white;
    text-decoration: none;
    line-height: 15px;
}
.i-tilepanel .thumb-wrap .thumb-bottom-lines span[data-value] .i-cell-img {
    display: none;
}
.x-grid-rowbody span[data-field] {
    margin-top: -1px;
    display: inline-block;
}
.x-grid-rowbody span[data-field]:first-child {
    margin-top: 1px;
    display: inline-block;
}
.x-grid-rowbody span[data-label] {
    background: #efefef;
    padding: 2px 5px;
    display: inline-block;
    margin-right: 5px;
    border: 1px solid #d0d0d0;
}
.i-tilepanel .thumb-wrap .thumb-bottom-lines {
    /*position: absolute;
    bottom: 3px;
    left: 3px;
    color: white;
    background: rgb(135, 135, 135, 0.4);
    width: calc(100% - 6px);*/
    padding: 0 2px;
}
.i-dataviewlabeleditor .x-form-text-default {
    padding: 0 2px 0px;
    min-height: 16px;
}
.i-tilepanel .loading-indicator {
    font-size:11px;
    background-image:url('../../resources/themes/images/default/grid/loading.gif');
    background-repeat: no-repeat;
    background-position: left;
    padding-left:20px;
    margin:10px;
}

.x-view-selector {
    position:absolute;
    left:0;
    top:0;
    width:0;
    border:1px dotted;
    opacity: .5;
    -moz-opacity: .5;
    filter:alpha(opacity=50);
    zoom:1;
    background-color:#c3daf9;
    border-color:#3399bb;
}

/*.ext-strict .ext-ie .x-tree .x-panel-bwrap{
     position:relative;
     overflow:hidden;
}*/

.x-form-cb-wrap-default.x-form-item-body {
    background: transparent;
}
.x-form-checkbox-default {
    background-color: white;
}
.x-mask.i-mainmask {
    z-index: 30000;
}

.i-found-0 {
    text-align: center;
    display: grid;
}
.i-uieditor .x-form-trigger-wrap {
    border: 0;
}
.i-uieditor .x-form-text, .i-uieditor .x-form-text-field-body {
    background: transparent;
}
.i-uieditor .x-form-text {
    text-align: inherit;
    line-height: 14px;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0px;
    min-height: 13px;
}
.i-gridheadereditor .x-form-text {
    padding-left: 6px;
}

.i-gridheadereditor.i-grid-column-editable .x-form-text {
    color: blue;
}
.i-gridheadereditor.x-column-header-align-center .x-form-text {
    text-align: inherit;
    padding-left: 3px;
}
.i-gridheadereditor.i-level-1 .x-form-text {
    padding-top: 0;
}
.i-gridheadereditor.i-level-2 .x-form-text {
    padding-left: 6px;
}
.i-gridheadereditor.i-level-2.x-group-header .x-form-text {
    padding-top: 0px;
    line-height: 13px;
    min-height: 14px;
    padding-left: 3px;
    padding-right: 0;
    padding-bottom: 3px;
}
.i-gridheadereditor.x-group-sub-header {
    border-top: 0;
}
.i-gridheadereditor.i-level-3 .x-form-text {
    padding-top: 0px;
    line-height: 13px;
    padding-bottom: 0;
}
.i-gridheadereditor.i-grid-column-multiline .x-form-text {
    text-align: center;
    padding-left: 0px;
    line-height: 14px;
    padding-bottom: 0;
    padding-top: 0;
}
.x-editor {
    z-index: 100000 !important;
}
.x-grid-row-summary .x-grid-cell-row-numberer,
.x-grid-row-summary .x-grid-cell-special {
    border-right: 0;
}
.x-column-header-last .x-column-header-over .x-column-header-trigger {
    border-right: 0;
}
.x-column-header-trigger {
    border-left: 0;
}
.i-uieditor.i-field-span .x-form-text-field-body {
    border: 0;
}
.i-uieditor.i-field-span-title .x-form-text {
    font-size: 12px;
}
.i-uieditor.i-uieditor-tooltip .x-form-text {
    color: #f0f0f0;
}
.i-uieditor.i-uieditor-tooltip input[type="text"] {
    padding-top: 0;
    line-height: 12px;
    height: 13px;
}
.i-uieditor.i-uieditor-tooltip .x-form-textarea {
    line-height: 13px;
}

.i-color-color-box-wrap {
    width: 13px;
    display: table-cell;
}
.i-color-color-box {
    width: 13px;
    height: 9px;
    background: white;
    display: block;
    margin-left: 3px;
    outline: 1px dotted gray;
    margin-right: 1px;
}
font[color][title] {
    border-bottom: 1px dotted;
    cursor: pointer;
}
.x-grid-cell[class*="-column-colorEntry"] .x-grid-cell-inner {
    text-overflow: unset;
    padding-left: 8px;
    top: 1px;
}

.x-grid-cell.i-header-icon.i-element-color .i-color-box{
    margin-left: 2px;
    top: 2px;
    margin-right: 8px;
}
.x-grid-cell.i-overflow:hover .x-grid-cell-inner .i-color-box {
    margin-right: 5px;
    margin-left: 0px
}
.x-grid-cell.i-element-color .x-grid-cell-inner {
    text-overflow: unset;
}
.i-column-header-icon .x-column-header-over .x-column-header-trigger {
    opacity: 0;
}
[id$="-toolbar--filter"] {
    border-bottom-width: 1px !important;
    border-bottom-color: #dadada;
    border-right: 0;
    border-left: 0;
}
[id$="-toolbar--master"] {
    border-top-width: 0 !important;
}
.i-filterwin [id$="-toolbar--filter"] {
    border-right: 1px solid;
    border-left: 1px solid;
    border-bottom: 0;
}
.i-notice-btn {
    top: 4px !important;
}
.i-notice-btn.x-btn-pressed {
    height: 22px;
    border-bottom-width: 0;
}
.x-btn.i-notice-btn.x-btn-pressed .x-btn-inner-default-toolbar-small {
    position: relative;
    top: -2.5px;
}
.i-notice-btn.x-btn-disabled {
    pointer-events: all;
}
.x-btn.i-notice-btn .x-btn-inner-default-toolbar-small {
    color: inherit;
    line-height: 11px;
}
.x-btn.i-notice-btn.x-btn-pressed:after {
    top: 16px;
    left: 20%;
    position: absolute;
    height: 2px;
    width: 60%;
    background: white;
    content: ' ';
}
.x-keyboard-mode .i-notice-btn.x-btn-focus.x-btn-default-toolbar-small {
    box-shadow: none;
}
.i-led {
    width: 7px;
    display: inline-block;
    height: 7px;
    margin-bottom: -5px;
    background: white;
    margin-left: 5px;
    box-sizing: content-box;
    border-bottom: 6px solid;
}
.i-led.running,
.i-led.running {
    background: lime;
}
.x-btn .i-led {
    border-bottom-color: #35baf6;
}
.x-btn-over .i-led {
    border-bottom-color: #31abe2;
}
.x-btn-focus, .x-btn-focus.x-btn-over, .x-btn-focus.x-btn-pressed {
    box-shadow: none !important;
}
.x-btn-pressed .i-led {
    border-bottom-color: #288cb9;
}
.x-boundlist-item-hidden {
    display: none;
}
.x-grid-cell .i-cell-img {
    width: 16px;
}
.x-keyboard-mode .x-grid-item-focused {
    color: inherit;
}

/* Grid chunks specific styles */
.i-grid-chunk .x-grid-item-selected,
.i-grid-chunk .x-grid-item-over {
    background: inherit;
}
.i-grid-chunk .x-grid-scroll-body.x-scroller {
    height: 21px !important;
}
.x-keyboard-mode .x-grid-item-focused {
    color: inherit;
}
.i-grid-chunk .x-grid-cell-inner {
    text-overflow: initial;
}
.i-grid-chunk .i-level-1 > .x-column-header-inner {
    background: #ddffe0;
}
.i-grid-chunk .i-level-1 > .x-box-inner {
    background: white;
}
.i-grid-chunk {
    border-top: 1px solid #c0cdf8;
}
.i-grid-chunk .i-level-1:first-child > .x-column-header-inner {
    border-left: 1px solid #c0cdf8;
}
.i-grid-chunk .i-level-1:last-child > .x-column-header-inner {
    border-right: 1px solid #c0cdf8;
}
.i-grid-chunk .x-column-header-over {
    background-color: inherit;
}
.i-tilepanel .thumb {
    outline-width: 2px;
    outline-style: solid;
    outline-color: transparent;
}

.i-panel-btn {
    top: 4px !important;
    height: 22px;
    border-bottom-width: 0;
    position: relative;
    border-color: transparent;
    background: transparent;
}
.i-panel-btn.x-btn-pressed {
    border-color: #d2d2d2;
}
.x-btn.i-panel-btn.x-btn-pressed .x-btn-inner-default-toolbar-small {
    top: -2.5px;
}
.i-panel-btn.x-btn-disabled {
    pointer-events: all;
}
.i-panel-btn .x-btn-icon-el {
    margin-top: -1px;
}
.x-btn.i-panel-btn .x-btn-inner-default-toolbar-small {
    color: inherit;
    line-height: 11px;
}
.x-keyboard-mode .i-panel-btn.x-btn-focus.x-btn-default-toolbar-small {
    box-shadow: none;
}
.x-btn.i-panel-btn.x-btn-pressed.x-btn-default-toolbar-small {
    background: white;
}
.x-window-text {
    margin-bottom: 5px;
}
.x-column-header.i-column-further {
    background: #e2e2e2;
}
.x-grid-cell.i-column-further {
    background: #e2e2e25c;
}
.i-grid-column-color-box .x-grid-cell-inner .i-color-box {
    margin-left: 2px;
}
.i-column-header-icon .x-grid-cell-inner br {
    display: contents;
}
.i-column-header-icon.i-overflow:hover .x-grid-cell-inner br {
    display: block;
}
.i-notice-hideall {
    text-align: center;
    cursor: pointer;
    display: none;
    position: fixed;
    margin-bottom: 22px;
}
.i-notice + .i-notice + .i-notice-hideall {
    display: block;
}
.ext-plan-item.ext-cal-evt.ext-cal-evr,
.ext-plan-item-ad.ext-cal-evt.ext-cal-evr {
    transition: text-indent 4s ease 0s;
}

[data-field] > [data-label]:after {
    content: ': ';
}
.i-tilepanel .thumb-wrap .thumb-panel-right {
    display: block;
    right: 3px;
    top: 23px;
    padding: 0 6px 0 0;
}
.thumb-panel.thumb-panel-right > [data-field] {
    display: block;
}
.thumb-panel.thumb-panel-right > [data-field] > [data-label] {
    display: none;
}
[data-value] {
    white-space: pre;
}
.thumb-bottom-lines [data-value] {
    display: block;
}
[data-value] > .i-cell-img {
    margin-left: 4px;
    position: relative;
    left: 1px;
    top: 3px;
}
.i-tilepanel .thumb-wrap .thumb-nofile .thumb-panel-top-right,
.i-tilepanel .thumb-wrap .thumb-nofile .thumb-panel-right {
    background-color: rgba(135, 135, 135, 0.2);
}
.i-tilepanel .thumb-wrap .thumb-bottom-boxes {
    text-align: center;
}
.i-tilepanel .thumb-wrap .thumb-bottom-boxes [data-field] {
    height: 16px;
    display: inline-block;
}
.i-grid-column-color-box .x-grid-cell-inner {
    text-overflow: unset;
}
.i-header-icon .x-grid-cell-inner br {
    display: none;
}
.i-header-icon.i-overflow .x-grid-cell-inner br {
    display: block;
}
.x-field.x-form-type-text[id*="-toolbar--filter--"] {
    min-height: 19px;
}
[id*=-row-gridChunk-] .x-column-header.i-level-1 > .x-column-header-inner {
    padding-top: 4px;
}
.i-grid-chunk .i-element-textarea .x-grid-cell-inner {
    text-overflow: ellipsis;
}
.x-textmetrics,
.x-grid-cell.i-grid-column-tree .x-grid-cell-inner,
.x-grid-cell.i-overflow:hover .x-grid-cell-inner {
    white-space: pre;
}
.x-grid-cell.i-overflow:hover .x-grid-cell-inner {
    display: inline-block;
}
.i-window-header.x-toolbar-default .x-tool-img {
    background-image: url(../images/tools/tool-sprites.png);
}
span.i-color-box[jump^="cell:"]{
    margin-right: 0 !important;
}
.x-grid-cell-inner .i-color-box[style*="background: url"][jump^="cell:defaultSortDirection"] {
    margin-left: -2px !important;
}
.i-grid-column-rtl{
    direction: rtl;
}
.x-mask-msg.i-mask-record-deleted {
    position: relative;
    display: inline-block;
    top: 47% !important;
    left: unset !important;
}
.x-mask-msg.i-mask-record-deleted  .x-mask-msg-text {
    padding: 0;
    background-image: none;
}
.i-record-deleted[id^="desktopwindow-"] > .x-window-bodyWrap > .x-window-body >
.x-autocontainer-outerCt > .x-autocontainer-innerCt > .x-panel.x-masked > .x-mask {
    background: none;
    text-align: center;
}
.i-record-deleted {
    filter: grayscale(1)
}
.x-tab-default .x-tab-close-btn {
    top: 3px;
    right: 3px;
    width: 13px;
    height: 13px;
    background: url(../images/icons/btn-icon-close.png) 0 0!important;
    background-size: contain!important;
    filter: brightness(4.5);
}
.x-tab-default.x-tab-active .x-tab-close-btn {
    filter: none;
}
.x-tab-closable.x-tab-default .x-tab-button {
    padding-right: 10px;
}
.x-form-field-date .x-form-date-trigger {
    background: url(../images/icons/plan-day.png) no-repeat center !important;
}
.x-grid-cell.i-element-number[style*="width: 30px"] .x-grid-cell-inner {
    text-overflow: unset;
}
.x-toolbar.x-poppable[aria-hidden="false"] + [id$="-wrapper-body"] {
    border-top-width: 0;
}
.x-column-header-over .x-column-header-trigger,
.x-column-header-open .x-column-header-trigger {
    width: clamp(13px, 45%, 21px);
}
[id^="desktopwindow-"] .i-field[style*="position: absolute"] {
    width: calc(100% - 20px) !important;
}
span.i-field-move-handle,
span.i-entity-edit-handle {
    display: none;
}
.i-field:hover                        span.i-field-move-handle,
.i-field[style*="position: absolute"] span.i-field-move-handle {
    display: inline-block;
}
.i-field[style*="position: absolute"] span.i-field-move-handle:before,
.i-field-span:hover                   span.i-field-move-handle:before,
.i-field-span-title:hover             span.i-entity-edit-handle:before,
.i-field:hover                        span.i-field-move-handle:before {
    cursor: pointer;
    display: block;
    content: '☰';
    margin-left: 4px;
    width: 10px;
    height: 10px;
}
.i-field-span[style*="position: absolute"] span.i-field-move-handle:before,
.i-field-span-title:hover span.i-entity-edit-handle:before,
.i-field-span:hover span.i-field-move-handle:before {
    position: absolute;
    margin-top: -11px !important;
}
.i-field-wide:hover span.i-field-move-handle:before {
    margin-right: -14px;
}
.i-reordering {
    user-select: none;
}
.i-reordering .i-field:hover span.i-field-move-handle {
    display: none;
}
.x-tip {max-width: 400px;}
.i-progress-bg {
    height: 2px;
    margin-top: 4px;
    background: #eeeeee57;
}
.i-progress-fg {
    height: 100%;
    background: white;
}
.x-tree-icon {
    display: none;
}
.x-tree-node-text {
    padding-left: 0;
}
.x-tree-lines .x-grid-tree-node-expanded .x-tree-elbow-plus,
.x-grid .x-grid-tree-node-expanded .x-tree-elbow-plus{
    background-image: url(../../resources/images/tree/elbow.png)
}

.x-tree-lines .x-grid-tree-node-expanded .x-tree-elbow-end-plus,
.x-grid .x-grid-tree-node-expanded .x-tree-elbow-end-plus {
    background-image: url(../../resources/images/tree/elbow-end.png)
}
.x-grid-cell-inner-treecolumn .x-tree-elbow-img:first-child {
    display: none
}

.x-tree-lines .x-tree-elbow-plus,
.x-grid .x-tree-elbow-plus {
    background-image: url(../../resources/images/tree/elbow.png)
}

.x-tree-lines .x-tree-elbow-end-plus, .x-grid .x-tree-elbow-end-plus {
    background-image: url(../../resources/images/tree/elbow-end.png)
}

.x-grid .x-tree-elbow {
    background-image: url(../../resources/images/tree/elbow.png);
}

.x-grid .x-tree-elbow-line {
    background-image: url(../../resources/images/tree/elbow-line.png);
}
.x-grid .x-tree-elbow-end {
    background-image: url(../../resources/images/tree/elbow-end.png);
}
.i-field.i-print-iframe {
    height: 100%;
}
.x-grid-cell .i-cell-img {
    margin-left: 1px;
}
.x-column-header, .x-column-header > [data-ref="innerCt"] {
    overflow: clip;
}
