/* Combo */
.i-combo .x-form-text {padding: 0;}
.i-combo {width: 100%; position: relative; border: none;}
.i-combo .i-combo-multiple.i-combo-multiple-inlined > div {width: 1000%;}
.i-combo .i-combo-multiple {height: auto;}
.i-combo .i-combo-multiple.i-combo-multiple-inlined {overflow: hidden;}

/* Combo keyword */
.i-combo .i-combo-keyword {border: 0; width: 100% !important; padding-left: 1px; background: transparent;}
.x-panel .i-combo .i-combo-keyword{border: 0; background: transparent;}

/* Combo options data */
.x-boundlist-item {
    border-right: 0;
    border-left: 0;
    border-top: 0;
    cursor: default;
    word-break: break-all;
    vertical-align: top;
    overflow: hidden;
}
.x-boundlist-item .i-color-box[style*="background: url"] {
    vertical-align: text-bottom;
}
.x-boundlist-item .i-combo-color-box {display: inline-block;}
.x-boundlist-item:last-child {
    border-bottom: none;
}
.x-boundlist-item[timeId] {
    display: inline-block;
}
.x-boundlist-item-over[timeId] {
    outline: 1px solid #45d1d2;
    background: #45d1d2;
    color: white;
    border-bottom: 1px solid #45d1d2;
    cursor: pointer;
}
.x-boundlist-item-group *{
    color: inherit;
}
.x-boundlist-item-disabled, .x-boundlist-item-disabled * {
    color: #cccccc;
}
.x-boundlist-item-group, .x-boundlist-item-group.x-boundlist-item-disabled {
    font-style: italic;
    /*font-weight: bold;*/
}

/* Combo multiple selected items*/
.x-form-readonly .i-combo .i-combo-multiple .i-combo-selected-item {
    cursor: default;
}
.i-combo .i-combo-multiple .i-combo-selected-item {
    white-space: nowrap; display: inline-block; float: left;
    margin-left: 1px; margin-top: 1px; font-size: 11px; line-height: 15px;
}

/* Combo info */
.i-combo .i-combo-infoCell {width: 1px; padding-right: 0;}
.i-combo .i-combo-info tr {vertical-align: middle;}
.i-combo .i-combo-info {display: none; white-space: nowrap; height: 100%; border-collapse: collapse;border-spacing: 0;}

.i-combo .i-combo-info.i-combo-info-loading {display: inline-block;}
.i-combo .i-combo-info.i-combo-info-loading .i-combo-info-loadingCell {display: table-cell;}
.i-combo .i-combo-info.i-combo-info-loading .i-combo-info-countCell {display: none;}
.i-combo .i-combo-info.i-combo-info-loading .i-combo-info-ofCell {display: none;}
.i-combo .i-combo-info.i-combo-info-loading .i-combo-info-foundCell {display: none;}

.i-combo .i-combo-info.i-combo-info-expanded {display: inline-block;}
.i-combo .i-combo-info.i-combo-info-expanded .i-combo-info-loadingCell {display: none;}
.i-combo .i-combo-info.i-combo-info-expanded .i-combo-info-countCell {display: table-cell;}
.i-combo .i-combo-info.i-combo-info-expanded .i-combo-info-ofCell {display: table-cell;padding-right: 0; padding-left: 0;}
.i-combo .i-combo-info.i-combo-info-expanded .i-combo-info-foundCell {display: table-cell;}

.i-combo .i-combo-info.i-combo-info-expanded.i-combo-info-loading {display: table-cell;}
.i-combo .i-combo-info.i-combo-info-expanded.i-combo-info-loading .i-combo-info-loadingCell {display: table-cell;}
.i-combo .i-combo-info.i-combo-info-expanded.i-combo-info-loading .i-combo-info-countCell {display: none;}
.i-combo .i-combo-info.i-combo-info-expanded.i-combo-info-loading .i-combo-info-ofCell {display: table-cell;}
.i-combo .i-combo-info.i-combo-info-expanded.i-combo-info-loading .i-combo-info-foundCell {display: table-cell;}

.i-combo .i-combo-info.i-combo-info-expanded.i-combo-info-fetched-all .i-combo-info-loadingCell {display: none;}
.i-combo .i-combo-info.i-combo-info-expanded.i-combo-info-fetched-all .i-combo-info-countCell {display: none;}
.i-combo .i-combo-info.i-combo-info-expanded.i-combo-info-fetched-all .i-combo-info-ofCell {display: none;}
.i-combo .i-combo-info.i-combo-info-expanded.i-combo-info-fetched-all .i-combo-info-foundCell {display: table-cell;padding-right: 0;}
.i-combo .i-combo-multiple .i-combo-info.i-combo-info-expanded.i-combo-info-fetched-all .i-combo-info-foundCell {display: table-cell;}


/* Combo table */
.i-combo .i-combo-table {border-spacing: 0;}
.i-combo .i-combo-single .i-combo-table {width: 100%; height: 100%;}
.i-combo.i-combo-form .i-combo-multiple .i-combo-table-wrapper {float: left;}

/* Combo color box */
.i-combo .i-combo-single .i-combo-color-box-cell {width: 1px; padding: 0; display: none;}
.i-combo .i-combo-multiple .i-combo-color-box-cell .i-combo-color-box-div{width: 0; display: none;}
.i-combo .i-combo-color-box {display: inline-block;}
.i-combo .i-combo-single .i-combo-color-box-cell .i-combo-color-box{margin: 0 0 0 3px;}

/* Combo multiple selected items*/
.x-form-readonly .i-combo .i-combo-multiple .i-combo-selected-item .i-combo-selected-item-delete {
    width: 0;
}
.i-combo .i-combo-multiple .i-combo-selected-item .i-combo-selected-item-delete {
    background-repeat: no-repeat; background-position: 0 0; width: 8px; height: 8px; display: inline-block;
    cursor: pointer; vertical-align: initial;
    margin-left: 2px; background-image: url(../images/icons/combo-multiple-selected-item-delete.png);
}
.i-combo.i-combo-jump .i-combo-multiple .i-combo-selected-item {
    cursor: pointer;
}

/* Disabled styling*/
.i-combo .i-combo-keyword[disabled] {background: inherit;}
.x-item-disabled .i-combo .i-combo-multiple .i-combo-selected-item .i-combo-selected-item-delete {
    cursor: default;
}
.x-toolbar .x-item-disabled .i-combo .x-form-text {
    filter: alpha(opacity=50);
    opacity: .5;
}
.x-gecko .i-combo-table td > .i-combo-color-box-div {
    top: 0;
}

/* Field */
.i-field > * {
    padding: 1px 0 !important;
}
.x-form-layout-wrap {
    border-spacing: 0;
}
[id^="desktopwindow-"] .i-field > .x-form-item-label,
[id^="desktopwindow-"] .i-field > .x-form-item-body,
[id^="desktopwindow-"] .i-field.i-field-wide > .x-form-item-label-top > .x-form-item-label-inner {
    border-top: 1px solid #C7D4FF;
}
[id^="desktopwindow-"] .i-field.i-field-wide > .x-form-item-label-top + .x-form-item-body {
    border-top: 0;
}
.i-field > .x-form-item-label {
    vertical-align: middle;
}
.i-field .x-form-item-label-text {
    position: relative;
    top: 1px;
}
.x-form-layout-auto-label > * > .x-form-item-label,
.x-form-form-item > .x-form-item-body {
    width: 50% !important;
}
.i-field-filepanel .x-form-item-body {
    background: transparent;
}
.x-form-item-body {
    background: white;
}

/* Span */
.i-field-span > * {
    background-color: #efefef;
    background-color: #DDFFE0;
    border: 1px solid #d0d0d0;
    border-bottom-width: 0;
}
.i-field-span.x-item-disabled > * {
    background-color: #afffb6;
}
.i-field-span > .x-form-item-body,
.i-field-span + .i-field > .x-form-item-body,
.i-field-span + .i-field > .x-form-item-label {
    border-top: 1px solid #d0d0d0;
    border-top: 1px solid #C7D4FF;
}
.i-field-span + .i-field.x-item-disabled .x-form-item-body,
.i-field-span + .i-field.x-item-disabled .x-form-item-label {
    border-color: #a7a7a7;
    border-color: #829bf1;
}

.i-field-span {
    text-align: center;
}
.i-field-span.x-form-form-item.x-form-item-no-label:before {
    display: none;
}
.i-field-span.x-form-form-item > .x-form-item-body {
    width: 100% !important;
    display: block;
}
[role="form"] .i-field.i-field-span .x-form-display-field-body .x-form-display-field {
    color: black;
}
[role="form"] .i-field.i-field-span:first-child .x-form-display-field-body .x-form-display-field {
    font-size: 12px;

}
.x-form-item-label-default.x-form-item-label-top > .x-form-item-label-inner {
    padding-bottom: 3px !important;
}

/* Disabled fields */
.i-field.x-item-disabled .x-form-item-body,
.i-field.x-item-disabled .x-form-item-label {
    border-color: #829bf1;
}

/* Filter toolbar */
.x-fieldset-header-default {
    padding: 0 5px;
    position: relative;
    top: -1px;
}
.x-fieldset-header-default > .x-fieldset-header-text {
    font: 400 11px/11px tahoma, arial, verdana, sans-serif;
    padding: 0 0;
}


/*.x-menu-item-text-default, .x-menu-item-link {
    line-height: 13px;
}*/
.x-grid-item-container > table:first-child {
    border-top-width: 0;
}
.x-grid-item-container > table:first-child [class*="x-grid-row"]:first-child td {
    border-top-width: 0;
}
.x-grid-row-summary-item {
    width: auto !important;
}

.i-grid-row-disabled {
    opacity: 0.4;
    color: #6f6f6f;
}

/* Cell editors */
.i-grid-cell-editor-focus {
    border: 1px dotted blue !important;
}
.i-grid-cell-editor-focus.i-overflow {
    border: 0 !important;
}
.i-grid-cell-editor-focus .x-grid-cell-inner {
    min-height: 19px;
}
.i-grid-cell-editor-focus.i-grid-column-align-left .x-grid-cell-inner {
    right: 1px;
    position: relative;
}
.i-grid-cell-editor-focus.i-grid-column-align-right .x-grid-cell-inner {
    right: -1px;
    position: relative;
}
.i-grid-cell-editor-focus .x-grid-cell-inner {
    padding-top: 1px;
    padding-bottom: 2px;
}
.x-grid-editor .x-form-text {
    padding-left: 2px;
    padding-right: 2px;
}
.i-grid-cell-editor-focus.i-overflow .x-grid-cell-inner {
    padding-top: 2px;
    padding-bottom: 3px;
}
.x-grid-editor .i-combo .x-form-text {
    padding-left: 0;
    padding-right: 0;
}
.x-grid-editor .i-combo-single.x-form-text {
    padding-right: 1px;
}
.x-keyboard-mode .x-mask.x-focus {
    border: none;
}
.x-form-item-label-default {
    vertical-align: text-top;
    line-height: 16px;
}
.x-form-text-default.x-form-textarea {
    line-height: 13px;
    padding-top: 2px;
}

/*.x-window {
    outline: rgb(49, 173, 229) solid 1px;
}
.x-window.x-window-maximized {
    outline: none;
}*/
[role="tabpanel"] > [data-ref="bodyWrap"] > [data-ref="body"] > .x-panel > [data-ref="bodyWrap"] > .x-toolbar[aria-hidden="false"].x-poppable,
[data-ref="bodyWrap"] > .x-toolbar[aria-hidden="true"] + .x-toolbar,
[data-ref="bodyWrap"] > .x-toolbar[aria-hidden="true"] + [data-ref="body"] {
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
}
[data-ref="bodyWrap"] > .x-toolbar[aria-hidden="false"] + .x-toolbar[aria-hidden="true"] + .x-toolbar {
    border-top-width: 1px;
}
.i-icon-btn.x-btn-disabled.x-btn-default-toolbar-small {
    background: transparent;
}
.i-icon-btn {
    border-color: transparent;
    background-color: transparent;
    padding: 2px;
    margin: 0 2px;
}

[id^="desktopwindow-"] .x-window-header-title-default > .x-title-text-default {
    display: none !important;
}
/* Window */
.x-window-header-title-default {
    font-size: 11px;
    padding-left: 5px;
    line-height: 13px;
}
[id^="desktopwindow-"] .x-window-header-title-default {
    padding-left: 0;
}

/*.x-shrinkbar[id$="--nested"] .x-btn {
    background: #3897c1;
}
.x-shrinkbar[id$="--nested"] .x-btn .x-btn-inner {
    color: white;
}*/
.x-btn-inner-nested-small {
    text-overflow: initial;
}
.x-column-header {
    line-height: 14px;
}
.x-grid-with-row-lines .x-grid-item:last-child {
    border-bottom-width: 0;
}

.i-trail-item-section.x-btn-trailbutton-small .x-btn-inner:before,
.i-trail-item-action.x-btn-trailbutton-small .x-btn-inner:before,
.i-trail-item-row-title.x-btn-trailbutton-small .x-btn-inner:before {
    content: '\000BB\00A0';
    font-style: normal;
    width: 10px;
    display: inline-block;
}
/*.x-btn-trailbutton-small:before {
    content: '\000BB\00A0';
    color: white;
    position: absolute;
    z-index: 1000000000000;
    left: -3px;
    overflow: visible;
    top: 4px;
    font-size: 12px;
    background: #7d8ea7;
    width: 8px;
    line-height: 7px;
    height: 8px;
}
.x-btn-trailbutton-small:after {
    text-align: center;
    content: '\000BB\00A0';
    color: white;
    font-size: 12px;
    position: absolute;
    z-index: 1000000000000;
    right: -8px;
    overflow: visible;
    top: 4px;
    margin-left: 5px;
    background: #7d8ea7;
    height: 8px;
    line-height: 7px;
}
.i-trail-section-group.x-btn-trailbutton-small:before,
.i-trail-item-last.x-btn-trailbutton-small:after{
    content: '';
}*/

.x-toolbar-wbar .x-btn-inner {
    text-overflow: initial;
}
.x-form-item-body-default {
    min-height: unset;
}
.i-master--id .x-form-text-default {
    min-height: 16px;
}
.x-toolbar-default .x-toolbar-item {
    margin-right: 4px;
}
[id$="inner--sibling"] .i-combo-keyword {
    padding-bottom: 0;
    position: relative;
    top: -1px;
}
[id$="inner--save"] .x-btn-inner {
    padding-left: 0;
}
[id$="inner--offset"] .x-form-text {
    min-height: unset;
    padding-top: 1px;
}
.x-anchor-form-item {
    margin-bottom: 0;
}
[id^="desktopwindow-"] .i-field {
    width: 100% !important;
}
.i-field .x-form-cb-label-default {
    margin-top: 0;
    line-height: 13px;
    display: block;
    padding-top: 1px;
}
.i-field .x-form-cb-label-default.x-form-cb-label-after {
    padding-left: 17px;
}
.i-field .x-form-cb-label-default.x-form-cb-label-after.x-form-cb-no-box-label {
    position: absolute;
    margin-left: -1px;
    height: 15px;
    padding-left: 15px;
}
.i-field .x-form-cb-default {
    margin-top: 0;
}
.i-field > .x-form-cb-wrap-default {
    padding-top: 3px !important;
}
.i-field .x-form-cb-wrap-default {
    height: unset;
}

/* Number field */
.i-field.i-field-number .x-form-trigger-wrap{
    width: 100px !important;
}
.i-field.i-field-number.x-form-readonly .x-form-trigger-wrap{
    width: 84px !important;
}
.i-field .i-field-number-after {
    position: absolute; margin-top: -19px; margin-left: 104px; font-size: 11px;
}
.i-field.i-field-number.x-form-readonly .i-field-number-after {
    margin-left: 87px;
}

/* Date and Datetime fields */
.i-field.i-field-date .x-form-trigger-wrap{
    width: 79px !important;
}
.i-field.i-field-date.x-form-readonly .x-form-trigger-wrap{
    width: 63px !important;
}
.i-field.i-field-datetime .x-form-trigger-wrap{
    width: 127px !important;
}
.i-field.i-field-datetime.x-form-readonly .x-form-trigger-wrap{
    width: 110px !important;
}

/* Filepanel */
.i-field-filepanel .x-form-cb-wrap {
    padding-top: 0;
    top: -1px;
}
.i-field-filepanel .x-form-type-text + .x-form-type-text {
    top: 1px !important;
}
.i-field-filepanel .x-form-type-radio,
.i-field-filepanel .x-form-type-checkbox {
    top: 3px !important;
}
.i-field-filepanel .x-btn-inner-default-small,
.i-field-filepanel a,
.i-field-filepanel .x-form-display-field-default {
    padding: 0;
    color: #04408C;
    color: black;
}
.i-field-filepanel .x-form-file-btn {
    background: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;
}

/** CKEditor */
.cke .cke_toolgroup {
    border-color: #d0d0d0 !important;
    background: white !important;
}
.cke_reset {
    border: 0 !important;
}
.cke .cke_top, .cke .cke_bottom {
    background: #efefef !important;
}
.cke .cke_top {
    border-bottom-color: #d0d0d0 !important;
}
.cke .cke_bottom {
    border-top-color: #d0d0d0 !important;
}
.cke .cke_combo_button {
    background: white !important;
    /*border-radius: 0;              */
    border-color: #d0d0d0 !important;
}
.cke .cke_button_on {
    background: #a6e1fb;
    box-shadow: none !important;
}
.cke_combo_off a.cke_combo_button:active, .cke_combo_on a.cke_combo_button {
    box-shadow: none !important;
    background: #e2ecfb !important;
}
.cke_top.cke_reset_all *, .cke_dialog *, .cke_panel, .cke_panel * {
    border-radius: 0 !important;
}
.cke_dialog * {
    background-image: none !important;
    box-shadow: none !important;
}
.cke a.cke_button_off:hover, .cke a.cke_button_off:focus, .cke a.cke_button_off:active {
    background: #e4e4e4 !important;
}
a.cke_button_off:hover, a.cke_button_off:focus, a.cke_button_off:active, a.cke_button_disabled:hover, a.cke_button_disabled:focus, a.cke_button_disabled:active {
    background: #f6f6f6 !important;
}
.x-form-item-label-default.x-form-item-label-top > .x-form-item-label-inner {
    text-align: center;
}

/* Radios */
.i-radio-color-box {
    width: 14px;
    height: 10px;
    display: inline-block;
    position: relative;
    margin-right: 2px;
    top: 1px;
}
.i-radio-color-box[style*="background: url("] {
    height: 13px;
    top: 2px;
    margin-top: -2px;
}

/* Menu items*/
.x-menu-item-text-default {
    line-height: 30px;
}
.i-trail-item-menu .x-menu-item-link,
.i-trail-item-menu .x-menu-item-text-default,
.i-window-header-menu .x-menu-item-link,
.i-window-header-menu .x-menu-item-text-default {
    line-height: 13px;
}
.i-trail-item-menu .x-menu-item-text-default {
    margin-left: 5px;
    color: white;
}
.i-trail-item-menu .x-menu-body-default {
    /*background: #7d8ea7;*/
    background: #5e6b7d;
}
.i-trail-item-menu {
    border-width: 0;
}
.i-trail-item-menu .x-menu-item-default.x-menu-item-focus,
.i-trail-item-menu .x-menu-item-default.x-menu-item-active {
    background-color: #73839a;
}
.i-trail-item-menu .x-menu-item-arrow-default {
    width: 8px;
    height: 8px;
    top: 4px;
}

/* Field's lbar */
.x-form-item-label .x-toolbar .x-btn-inner {
    padding: 0 1px;
    text-overflow: unset;
}

/* Tips */
.x-tip {
    line-height: 13px;
    max-width: 300px;
}
.x-tip-body-default {
    padding: 5px 7px 6px;
}
/*[data-ref="labelTextEl"][data-qtip] {
    border-bottom: 1px dotted;
}*/

/* Error tips */
.x-tip-body-form-invalid {
    padding: 2px 5px 1px 17px;
}
.x-tip-form-invalid {
    background-color: #d94e37;
}

.x-grid-cell-inner {
    min-height: 21px;
}
.x-grid-cell-inner > img {
    padding-top: 4px !important;
}

/* Datepicker */
.x-datepicker-column-header-inner {
    color: white;
    background: #35baf6; /* $base-color */
}
.x-datepicker {
    border: none;
}
.x-datepicker-inner tbody tr td:first-child {
    border-left: 1px solid #35baf6; /* $base-color */
}
.x-datepicker-inner tbody tr td:last-child {
    border-right: 1px solid #35baf6; /* $base-color */
}
.x-monthpicker {
    border-width: 0;
}
.x-monthpicker-months {
    border-width: 1px 1px 0 1px;
    border-color: #35baf6;
}
.x-monthpicker-years {
    border-top: 1px solid #35baf6;
    border-right: 1px solid #35baf6;
}
.x-datepicker-footer .i-field-time .x-form-trigger-wrap {
    border-width: 0 0 0 1px;
}
.x-datepicker-footer .i-field-time:first-of-type .x-form-trigger-wrap {
    border-left-width: 0;
}

/* Shadow */
.x-css-shadow {
    border-radius: 0;
}

/* Window resizable handles style */
.x-window-resizable .x-window-handle {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
    opacity: 1;
    background: transparent;
    border-color: #31ade5;
    border-style: solid;
    border-width: 0;
}
.x-window-resizable.x-window-maximized .x-window-handle {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    background: initial;
    display: none;
}
.x-window-resizable .x-window-handle-north {
    border-top-width: 1px;
}
.x-window-resizable .x-resizable-handle-east {
    border-right-width: 1px;
}
.x-window-resizable .x-resizable-handle-west {
    border-left-width: 1px;
}
.x-window-resizable .x-resizable-handle-south {
    border-bottom-width: 1px;
}
.x-resizable-handle-southeast {
    border-right-width: 1px !important;
    border-bottom-width: 1px !important;
}
.x-resizable-handle-southwest {
    border-left-width: 1px !important;
    border-bottom-width: 1px !important;
}
.x-resizable-handle-northwest {
    border-left-width: 1px !important;
    border-top-width: 1px !important;
}
.x-resizable-handle-northeast {
    border-right-width: 1px !important;
    border-top-width: 1px !important;
}
.i-filterwin, .i-filterwin.x-window-resizable .x-window-handle {
    border: 0 !important;
}
.i-field-ckeditor .x-form-trigger-wrap .cke {
    box-shadow: none;
}
.i-field-ckeditor.i-field-wide .x-form-trigger-wrap {
    border: 0;
}
.i-field-ckeditor.i-field-wide .x-form-trigger-wrap .cke {
    margin: 0 auto;
    border: 1px solid #d0d0d0 !important;
    width: inherit !important;
}

.i-filepanel-raquo {
    margin-top: -2px !important;
}
.i-combo-table-wrapper[style*="width: calc"] > .i-combo-table {
    width: 100%;
}

.x-grid-cell-inner a img {
    display: block;
}
tr[data-boundview] + tr.x-grid-row .i-overflow {
    top: 23px;
}